.calculator{
  /*   border: solid purple 2px;
    width: 600px;
    height: 600px;
    margin: 0 auto;
   */
  
   border: solid orange 2px;
   position: absolute;
   width: 600px;
   height: 600px;
   top:50%;
   left: 50%;
   margin: -300px 0 0 -300px;
}
.screen{
    display: flex;
    background-color: gray;
    height: 100px;
    align-items:center ;
    justify-content: flex-end;
   
}
.result{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid black;
    height: 50px;
    background-color: white;
    width: 600px;
    font-size:40px;
}
.buttons{
    display: flex;
    background-color: blanchedalmond;
    height: 500px;
    flex-direction: column;
   
}
.operations {
    display: flex;
    justify-content: space-between;
}
.numbers {
    display: flex;
    flex-direction: column;
}
.until2,
.until5,
.until7,
.until9{
    display: flex;
}

.test {
    border: solid purple 2px;
    width: 600px;
    height: 600px;
    margin: 0 auto;
  
}
.container {
    display: flex;
    flex-direction: column;
    
}

button {
    width: 1000px;
    height: 100px;
    font-size: 20px;
}